<% include ../includes/header.ejs %>

<div>
    <div class ="container min-container">
        <h2 class="basic-title">Cadastro de Livros</h2>

        <% validationErrors.forEach((err) => { %>
            <div class="alert alert-danger">
                <%= err.msg %>
            </div>
        <% }) %>

        <form action="/produtos" method="post" class="well" role="form">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="titulo do livro" required/>
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="number" class="form-control" id="preco" name="preco" placeholder="valor do livro" required/>
            </div>
            <div class="form-group">
                <label for="descricao">Descricao</label>
                <textarea name="descricao" class="form-control" id="descricao" required></textarea>
            </div>
            <button type="submit" id="btn-gravar" class="btn btn-primary">Gravar</button>
        </form>
    </div>
</div>

<script src="/js/form.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>

<% include ../includes/footer.ejs %>
